* {
	box-sizing: border-box;
}

body {
	background-color: blue;
}

/* LOGO */

.logo img {
	height: 35px;
	/*padding: 50px;*/
	display: block;
	margin: 30px auto;
}

/* FORM */

.form {
	background-color: white;
	width: 400px;
	/*height: 500px;*/
	padding:40px;
	border-radius: 5px;
	margin:0px auto;
}

h1 {
	font-family: "Courier New", Courier;
	font-weight: normal;
	text-align: center;
	padding: 20px;
}
input[type='email'],
input[type='password'],
button[type='submit']{
	height: 68px;
	width: 303px;
	border:2px solid gray;
	padding: 15px;
	margin:15px auto;
	display: block;
	font-size: 15px;
	border-radius: 5px;

}

button[type='submit'] {
	background-color: green;
	border: 0;
	
}

div a {
	width: 100px;
	display: block;
	margin:auto;
	color: lightgray;
}

.login {
	text-align: center;
	color: white;
}
.login a {
	display: inline;
}

